[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bcrypt = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
requests = "*"
python-dotenv = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
